.btn-wrapper {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.btn-wrapper button,
.btn-wrapper [type="button"] {
    margin: 0;
}

.btn-wrapper > div {
    display: table-cell;
    text-align: center;
}

.btn-wrapper > div:last-child {
    text-align: right;
}

.btn-wrapper > div:first-child {
    text-align: left;
}

.btn,
.btn-o {
    padding: .5em 1em;
    margin: 0 .25em;
    font-size: 1.2em;
    -moz-border-radius: .35em;
    -webkit-border-radius: .35em;
    border-radius: .35em;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn > *,
.btn-o > * {
    pointer-events: none;
}

.btn {
    color: #0D0D0D;
    border: 0 none;
    background: #CFCFCF;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
    background: #E7E7E7;
}

.btn.primary {
    color: #FFFFFF;
    background: #9F529F;
}

.btn.primary:not(:disabled):hover,
.btn.primary:not(:disabled):focus {
    background: #CFA2CF;
}

.btn-o {
    color: #0D0D0D;
    border: 3px solid #0D0D0D;
    background: transparent;
}

.btn-o:not(:disabled):hover,
.btn-o:not(:disabled):focus {
    color: #666666;
    border-color: #666666;
}

.btn.round,
.btn-o.round {
    -moz-border-radius: 99em;
    -webkit-border-radius: 99em;
    border-radius: 99em;
}

.btn.round-left,
.btn-o.round-left {
    -moz-border-radius: 99em 25em 25em 99em;
    -webkit-border-radius: 99em 25em 25em 99em;
    border-radius: 99em 25em 25em 99em;
}

.btn.round-right,
.btn-o.round-right {
    -moz-border-radius: 25em 99em 99em 25em;
    -webkit-border-radius: 25em 99em 99em 25em;
    border-radius: 25em 99em 99em 25em;
}

.btn.expand,
.btn-o.expand {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.btn:disabled,
.btn-o:disabled {
    opacity: .35;
}

.btn:not(:disabled),
.btn-o:not(:disabled) {
    cursor: pointer;
}

.btn:focus,
.btn:active,
.btn-o:focus,
.btn-o:active {
	outline: none !important;
}

.btn:not(.loading) > .spinner,
.btn-o:not(.loading) > .spinner {
    display: none;
}

.btn.loading,
.btn-o.loading {
    & > .text { visibility: hidden; }
    & > .spinner { display: block; }
}

.btn.loading > .text,
.btn-o.loading > .text {
    visibility: hidden;
}

.btn-o.loading > .text,
.btn-o.loading > .spinner {
    display: block;
}

.btn > .spinner,
.btn > .spinner:after,
.btn-o > .spinner,
.btn-o > .spinner:after {
    font-size: 1em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 1em;
    height: 1em;
}

.btn > .spinner,
.btn-o > .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-animation: rotate-360 1s infinite linear;
    -webkit-animation: rotate-360 1s infinite linear;
    animation: rotate-360 1s infinite linear;
}

.btn > .spinner {
    border: .15em solid rgba(255, 255, 255, .25);
    border-left: .15em solid #FFFFFF;
}

.btn-o > .spinner {
    border: .15em solid fade(#0D0D0D, 25%);
    border-left: .15em solid #0D0D0D;
}

.input {
    position: relative;
    margin-bottom: 1em;
    overflow: visible;
}

.input > input,
.input > textarea {
    position: relative;
    width: 100%;
    font-size: 1.25em;
    padding: .5em 1em;
    color: #0D0D0D;
    border: .1em solid #DFDFDF;
    -moz-border-radius: .35em;
    -webkit-border-radius: .35em;
    border-radius: .35em;
    background: #FFFFFF;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.input > textarea {
    min-height: 5em;
    resize: none;
}

.input > textarea::-webkit-scrollbar-track {
    margin-left: -6px;
	background-color: #FFFFFF;
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
}

.input > textarea::-webkit-scrollbar {
	width: 6px;
	background-color: #FFFFFF;
}

.input > textarea::-webkit-scrollbar-thumb { background-color: #0D0D0D; }

.input.has-icon > input { padding-right: 2.5em; }
.input:not(.has-icon) > .icon { display: none; }

.input > input:not(:disabled):hover,
.input > input:not(:disabled):focus,
.input > textarea:not(:disabled):hover,
.input > textarea:not(:disabled):focus {
    border-color: #0D0D0D;
    -moz-box-shadow: 0 0 .35em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 .35em rgba(0, 0, 0, .5);
    box-shadow: 0 0 .35em rgba(0, 0, 0, .5);
}

::-webkit-input-placeholder { color: #EEEEEE; }
::-moz-placeholder { color: #EEEEEE; opacity: 1; }
:-moz-placeholder { color: #EEEEEE; opacity: 1; }
::-moz-p { color: #EEEEEE; }
:-ms-input-placeholder { color: #EEEEEE !important; }
::-ms-input-placeholder { color: #EEEEEE !important; }
::placeholder { color: #EEEEEE; }

.input > input:disabled,
.input > textarea:disabled {
    color: #999999;
    border-style: dashed;
    border-color: #EEEEEE;
    background: #FBFBFB;
}

.form-field {
    min-width: 6em;
    text-align: left;
    display: inline-block;
}

.form-field.no-min {
    min-width: 0;
    padding: 0 .5em;
}

.form-field.required > .input,
.form-field.optional > .input {
    margin-bottom: 1.5em;
}

.form-field.required > .input:after,
.form-field.optional > .input:after {
    position: absolute;
    bottom: -1.5em;
    right: 0;
    left: 0;
    text-align: right;
    padding-right: .5em;
    color: #D0D0D0;
    font-size: .85em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.form-field.required > .input:after { content: '*This field is required'; }
.form-field.optional > .input:after { content: '*This field is optional'; }

.form-field.required.hide-required-text:not(.invalid) .input { margin-bottom: 1em; }
.form-field.required.hide-required-text:not(.invalid) .input:after { content: ''; }

label {
    display: block;
    margin-bottom: .35em;
    font-weight: bold;
}

.form-field.invalid > label:before {
    display: inline-block;
    content: '';
    height: 1em;
    width: 1em;
    margin: 0 .25em -.1em 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMjU2IDhDMTE5LjA0MyA4IDggMTE5LjA4MyA4IDI1NmMwIDEzNi45OTcgMTExLjA0MyAyNDggMjQ4IDI0OHMyNDgtMTExLjAwMyAyNDgtMjQ4QzUwNCAxMTkuMDgzIDM5Mi45NTcgOCAyNTYgOHptMCA0NDhjLTExMC41MzIgMC0yMDAtODkuNDMxLTIwMC0yMDAgMC0xMTAuNDk1IDg5LjQ3Mi0yMDAgMjAwLTIwMCAxMTAuNDkxIDAgMjAwIDg5LjQ3MSAyMDAgMjAwIDAgMTEwLjUzLTg5LjQzMSAyMDAtMjAwIDIwMHptNDItMTA0YzAgMjMuMTU5LTE4Ljg0MSA0Mi00MiA0MnMtNDItMTguODQxLTQyLTQyIDE4Ljg0MS00MiA0Mi00MiA0MiAxOC44NDEgNDIgNDJ6bS04MS4zNy0yMTEuNDAxbDYuOCAxMzZjLjMxOSA2LjM4NyA1LjU5MSAxMS40MDEgMTEuOTg1IDExLjQwMWg0MS4xN2M2LjM5NCAwIDExLjY2Ni01LjAxNCAxMS45ODUtMTEuNDAxbDYuOC0xMzZjLjM0My02Ljg1NC01LjEyMi0xMi41OTktMTEuOTg1LTEyLjU5OWgtNTQuNzdjLTYuODYzIDAtMTIuMzI4IDUuNzQ1LTExLjk4NSAxMi41OTl6Ii8+PC9zdmc+DQo=");
}

.form-field .input.has-icon .icon {
    width: 1.5em;
    height: 1.5em;
    color: #DFDFDF;
}

.input.has-icon > .spinner,
.input.has-icon > .spinner:after {
    font-size: 1em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.input.has-icon > .spinner {
    position: absolute;
    margin-top: -.75em;
    margin-left: -.75em;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-animation: rotate-360 1s infinite linear;
    -webkit-animation: rotate-360 1s infinite linear;
    animation: rotate-360 1s infinite linear;
}

.input.has-icon > .spinner {
    border: .15em solid rgba(0, 0, 0, .05);
    border-left: .15em solid #DFDFDF;
}

.checkbox,
.radio {
    display: table;
}

.checkbox > label,
.radio > label {
    float: left;
    height: 1.5em;
    width: 1.5em;
    margin: 0 .5em .25em 0;
    font-weight: normal;
}

.checkbox > span,
.radio > span {
    display: table-cell;
    vertical-align: middle;
    //text-align: justify;
    font-size: .85em;
}

.checkbox input[type='checkbox'],
.radio input[type='radio'] {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
}

.checkbox .check {
    width: 100%;
    height: 100%;
    -moz-border-radius: .35em;
    -webkit-border-radius: .35em;
    border-radius: .35em;
    border: 2px solid #DFDFDF;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.radio .check {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #DFDFDF;
    vertical-align: middle;
    background: #FFFFFF;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.checkbox input[type='checkbox']:disabled:not(:checked) + .check,
.radio input[type='radio']:disabled:not(:checked) + .check {
    color: #999999;
    border-style: dashed;
    border-color: #EEEEEE;
    background: #FBFBFB;
}

.checkbox .check > .icon {
    font-size: 1em;
    color: #EEEEEE;
    -moz-transition: opacity .3s .1s ease;
    -webkit-transition: opacity .3s .1s ease;
    transition: opacity .3s .1s ease;
}

.checkbox input[type='checkbox']:not(:disabled) + .check:hover,
.checkbox input[type='checkbox']:not(:disabled):focus + .check,
.radio input[type='radio']:not(:disabled) + .check:hover,
.radio input[type='radio']:not(:disabled):focus + .check {
    border-color: #0D0D0D;
    -moz-box-shadow: 0 0 .35em rgba(0, 0, 0, .35);
    -webkit-box-shadow: 0 0 .35em rgba(0, 0, 0, .35);
    box-shadow: 0 0 .35em rgba(0, 0, 0, .35);
}

.checkbox input[type='checkbox']:checked + .check,
.radio input[type='radio']:checked + .check, {
    -moz-animation: checkbox-check .25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation: checkbox-check .25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: checkbox-check .25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    background: #0D0D0D;
    -moz-transition: background 1s ease;
    -webkit-transition: background 1s ease;
    transition: background 1s ease;
}

.radio input[type='radio']:checked + .check:before {
    content: '';
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .25);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .25);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .25);
    border-top: 1px solid #999999;
    border-bottom: 1px solid #DDDDDD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FFFFFF;
}

.checkbox input[type='checkbox']:checked + .check .icon {
    opacity: 1;
    transform: scale(0);
    color: #FFFFFF;
    -moz-animation: checkbox-icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
    -webkit-animation: checkbox-icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
    animation: checkbox-icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
}

@-webkit-keyframes checkbox-icon {
    from {
        opacity: 0;
        -moz-transform: scale(.35);
        -webkit-transform: scale(.35);
        transform: scale(.35);
    }
    to {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes checkbox-icon {
    from {
        opacity: 0;
        -moz-transform: scale(.35);
        -webkit-transform: scale(.35);
        transform: scale(.35);
    }
    to {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes checkbox-icon {
    from {
        opacity: 0;
        -moz-transform: scale(.35);
        -webkit-transform: scale(.35);
        transform: scale(.35);
    }
    to {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes checkbox-check {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        border-width: 3px;
    }
    33% {
        -moz-transform: scale(.75);
        -webkit-transform: scale(.75);
        transform: scale(.75);
    }
    100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        border-width: 0;
    }
}

@-moz-keyframes checkbox-check {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        border-width: 3px;
    }
    33% {
        -moz-transform: scale(.75);
        -webkit-transform: scale(.75);
        transform: scale(.75);
    }
    100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        border-width: 0;
    }
}

@keyframes checkbox-check {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        border-width: 3px;
    }
    33% {
        -moz-transform: scale(.75);
        -webkit-transform: scale(.75);
        transform: scale(.75);
    }
    100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        border-width: 0;
    }
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.flag {
    display: table;
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    -moz-border-radius: .35em;
    -webkit-border-radius: .35em;
    border-radius: .35em;
    background: #0D0D0D;
    margin-bottom: 1em;
}

.flag > div {
    display: table-cell;
    vertical-align: middle;
}

.flag > .body {
    width: 100%;
    font-size: .85em;
    text-align: left;
    padding: .5em 3em .5em 0;
}

.flag > .icon-container {
    height: 100%;
    font-size: 2em;
    padding: .5em;
}

.flag > .close-action {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 1.25em;
    color: white;
    opacity: 0;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
}

.flag:hover > .close-action {
    opacity: 1;
}

.flag .icon {
    display: block;
    vertical-align: inherit;
}

@-webkit-keyframes rotate-360 {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-360 {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-360 {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
