.js-ripple {
    position: relative;
    overflow: hidden;
}

.js-ripple > .ripple-effect {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    overflow: hidden;
}

.js-ripple > .ripple-effect,
.js-ripple > .ripple-effect * {
    pointer-events: none;
}

.js-ripple > .ripple-effect > div {
    position: absolute;
    width: 5px;
    height: 5px;
    line-height: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #0D0D0D;
    opacity: .35;
    -moz-animation: ripple-effect 1s ease-out forwards;
    -webkit-animation: ripple-effect 1s ease-out forwards;
    animation: ripple-effect 1s ease-out forwards;
}

.btn.js-ripple > .ripple-effect > div {
    background: #FFFFFF;
}

.btn-o.js-ripple >.ripple-effect > div {
    background: #9F529F;
}

@-webkit-keyframes ripple-effect {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    35% {
        opacity: .35
    }
    100% {
        opacity: 0;
        -moz-transform: scale(250);
        -webkit-transform: scale(250);
        transform: scale(250);
    }
}

@-moz-keyframes ripple-effect {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    35% {
        opacity: .35
    }
    100% {
        opacity: 0;
        -moz-transform: scale(250);
        -webkit-transform: scale(250);
        transform: scale(250);
    }
}

@keyframes ripple-effect {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    35% {
        opacity: .35
    }
    100% {
        opacity: 0;
        -moz-transform: scale(250);
        -webkit-transform: scale(250);
        transform: scale(250);
    }
}
