---
---

@import 'main';

#wedding-pic {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: url('../media/wedding.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
