---
---

@import 'main';

#image {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: url('../media/all-we-ever-had-was-time.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
