---
---

@import 'main';

#body-content-wrapper {
    width: 100%;
    height: auto;
}

#main-image-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url('../media/main-bg-lowres.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#main-image-container.final {
    position: absolute;
    top: 3000px;
}

#main-image-container > div {
    position: relative;
    width: 100%;
    height: 100%;
}

#main-image-container .desaturated,
#main-image-container .color-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#main-image-container .desaturated {
    background: url('../media/main-bg-bw.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
}

#main-image-container .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: left top;
    width: 90%;
    height: 25vh;
    min-height: 100px;
    max-height: 250px;
    background: url('../media/home-logo-white-lowres.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
}

#main-image-container .logo.final {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#main-image-spacer {
    width: 100%;
    height: 3000px;
    background-color: white;
}

.scroll-down {
    position: fixed;
    bottom: 2rem;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    transition: opacity 1s;
    pointer-events: none;
}

.scroll-down.hidden {
    opacity: 0 !important;
}

.scroll-down span {
    display: inline-block;
    left: 50%;
    width: 1em;
    height: 1em;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    animation: animation-scroll-down 2s ease-in-out infinite;
    box-sizing: border-box;
}

@-webkit-keyframes animation-scroll-down {
    0% { -webkit-transform: rotate(-45deg) translate(0, 0); }
    30% { -webkit-transform: rotate(-45deg) translate(-10px, 10px); }
    75% { -webkit-transform: rotate(-45deg) translate(0, 0); }
}

@-moz-keyframes animation-scroll-down {
    0% { -moz-transform: rotate(-45deg) translate(0, 0); }
    30% { -moz-transform: rotate(-45deg) translate(-10px, 10px); }
    75% { -moz-transform: rotate(-45deg) translate(0, 0); }
}

@keyframes animation-scroll-down {
    0% { transform: rotate(-45deg) translate(0, 0); }
    30% { transform: rotate(-45deg) translate(-10px, 10px); }
    75% { transform: rotate(-45deg) translate(0, 0); }
}

#timeline-container {
    position: relative;
    margin-top: 100vh;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239f529f' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-top: 35vh; /* offset content by height and position of logo */
    box-sizing: border-box;
    overflow: hidden;
}

#timeline-container .logo {
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translateX(-50%);
    transform-origin: left top;
    width: 90%;
    height: 25vh;
    min-height: 100px;
    max-height: 250px;
    background: url('../media/home-logo-lowres.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

.history-of-mic-container {
    font-family: 'Roboto', sans-serif;
    width: 75%;
    margin: auto;
    margin-top: 5em;
    display: block;
    position: relative;
    font-size: 18pt;
    opacity: 0;
}

.history-of-mic-container > ul {
    margin: 20px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.history-of-mic-container > ul li {
    list-style: none;
    margin: auto;
    margin-left: 50%;
    min-height: 50px;
    border-left: 1px dashed #C597C5;
    padding: 0 0 3em 2em;
    position: relative;
}

.history-of-mic-container > ul li:last-child { border-left: 0; }

.history-of-mic-container > ul li::before {
    content: ' ';
    position: absolute;
    left: -1em;
    top: -5px;
    border: .5em solid rgba(255, 255, 255, 0.74);
    border-radius: 99em;
    background: #9F529F;
    height: 1em;
    width: 1em;
    transition: all 500ms ease-in-out;
    box-sizing: content-box;
}

.history-of-mic-container > ul li:hover::before {
    border-color:  #9F529F;
    transition: all 250ms ease-in-out;
}

.history-of-mic-container > ul li .item-details {
    padding: 1em;
    box-sizing: border-box;
    background: white;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.history-of-mic-container > ul li .item-details img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    border-radius: 4px;
}

.history-of-mic-container > ul li .item-title {
    font-size: 1.2em;
}

.history-of-mic-container > ul li .item-description {
    color: rgba(0, 0, 0, .5);
    font-size: .85em;
    padding: .5em 0 0 1em;
}

.history-of-mic-container > ul li .timestamp {
    position: absolute;
    width: 50%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    left: -3em;
    text-align: right;
    font-size: .75em;
    color: #8D8D8D;
}

#social-media-image {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-width: 75%;
    display: block;
    margin: 25vh auto 25vh auto;
}

#main-navigation #toggle-wrapper:not(.solid) .burger-icon > div {
    background-color: white; /* override the default */
}

#main-navigation #toggle-wrapper:not(.solid) .burger-icon:after {
    background-color: white; /* override the default */
}

@media only screen and (max-width: 768px) {
    .history-of-mic-container {
        width: 80%;
        font-size: 13pt;
        margin-top: 0;
    }

    .history-of-mic-container > ul li {
        margin-left: 0;
    }

    .history-of-mic-container > ul li .timestamp {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        text-align: left;
        font-size: 1em;
        color: #9F529F;
        font-weight: bold;
    }

    .scroll-down {
        font-size: .8em;
    }
}
