---
title: Blog
layout: blog
---

<ul class="posts-list">
    {% for post in paginator.posts %}
    <li>
        <div class="post">
            {% if post.image %}
            <a href="{{ post.url }}"><div class="header-image" style="background-image: url(/assets/media/posts/{{ post.image }});"></div></a>
            {% endif %}
            <div class="post-content">
                <span class="note"><i class="far fa-calendar" title="Date posted"></i> {% include post-date.md %}</span><br/>
                <a href="{{ post.url }}"><h1>{{ post.title}}</h1></a>
                <p>{{ post.excerpt }}</p>
                <i class="far fa-comments-alt"></i> <a href="https://michorvath.com{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">0 Comments</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
        {% else %}
            <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <em>{{ page }}</em>
            {% elsif page == 1 %}
                <a href="{{ '/blog/' | relative_url }}">{{ page }}</a>
            {% else %}
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
        {% else %}
            <span>Next &raquo;</span>
        {% endif %}
    </div>
{% endif %}
