---
layout: default
---

<link rel="stylesheet" type="text/css" href="/assets/css/blog.css">
{% include navigation.md %}
<div class="center-center-wrapper">
    <div class="center-center-container">
        <div class="blog-body">
            <div class="group">
                <div class="post-column">
                    {{ content }}
                </div>
                <div class="info-column">
                    <div class="panel">
                        <div class="profile-pic"></div>
                        <h3>About Me</h3>
                        Hi! I'm Mic Horvath and you've stumbled onto my website.<br/><br/>I am a {% assign currentYear = 'now' | date: "%Y" %}{{ currentYear | minus: 1995 }}-year-old fullstack developer from Ohio (mostly working with web technologies). I am often self-described as a monkey sitting at a piano who doesn't really understand what he is doing but sometimes accidently discovers Mozart, or better yet, the Tommy Wiseau of programming.
                    </div>

                    <div class="panel">
                        <h3>Tags</h3>

                        <ul class="tags-list">
                            {% capture tags %}
                                {% for tag in site.tags %}
                                    {{ tag[1].size }}#{{ tag[0] }}
                                {% endfor %}
                            {% endcapture %}
                            {% assign sortedtags = tags | split:' ' | sort | reverse %}
                            {% for tag in sortedtags limit:10 %}
                                {% assign tagitems = tag | split: '#' %}
                                {% if tagitems[1] != false %}
                                <li><a href="/tags#{{ tagitems[0] }}">{{ tagitems[1] }} ({{ tagitems[0] }})</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if site.tags.size > 10 %}
                            <li style="text-align: center; font-size: .85em;"><a href="/tags">View All</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    <form class="newsletter-panel" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=michorvath', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                        <p>Enter your email address:</p>
                        <div class="form-field w-90">
                            <div class="input">
                                <input type="text" name="email"/>
                            </div>
                        </div>
                        <input type="hidden" value="michorvath" name="uri"/>
                        <input type="hidden" name="loc" value="en_US"/>
                        <input type="submit" value="Subscribe" class="btn round"/>
                        <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
                    </form>
                </div>
            </div>

            {% include footer.md %}
        </div>
    </div>
</div>
<script id="dsq-count-scr" src="//michorvath.disqus.com/count.js" async></script>
